node_modules
dist
dist-ssr
*.local
.env
.env.local
.env.*.local

# Service account para seed
service-account.json
firebase-debug.log
.firebase/

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
